services:
  freeboard-ui:
    image: ghcr.io/cameronbrooks11/freeboard-ui:dev
    restart: unless-stopped
    container_name: freeboard-ui
    ports:
      - 8080:80
    networks:
      - freeboard
    depends_on:
      - freeboard-api
      - freeboard-proxy

  freeboard-api:
    restart: unless-stopped
    container_name: freeboard-api
    image: ghcr.io/cameronbrooks11/freeboard-api:dev
    environment:
      - MONGO_URL=${FREEBOARD_MONGO_URL:-mongodb://freeboard:unsecure@freeboard-mongo:27017/freeboard}
    networks:
      - freeboard
  freeboard-proxy:
    restart: unless-stopped
    container_name: freeboard-proxy
    image: ghcr.io/cameronbrooks11/freeboard-proxy:dev
    networks:
      - freeboard
networks:
  freeboard:
    name: freeboard
    driver: bridge
