[Unit]
Description=Freeboard
Requires=docker.service
After=docker.service

[Service]
Type=simple
User={{ freeboard_service_user }}
WorkingDirectory={{ freeboard_repo_dir }}
Environment=FREEBOARD_PLAYER_URL={{ freeboard_player_url }}
Environment=FREEBOARD_USER={{ freeboard_service_user }}
ExecStart=/usr/bin/bash {{ freeboard_repo_dir }}/player.sh
NoNewPrivileges=true
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
