[Unit]
Description=Freeboard
Requires=docker.service
After=docker.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/freeboard
Environment=FREEBOARD_PLAYER_URL={{ freeboard_player_url }}
Environment=FREEBOARD_USER=root
ExecStart=/usr/bin/bash ansible/player.sh
Restart=always

[Install]
WantedBy=multi-user.target
