FREEBOARD_PLAYER_URL={{ kiosk_player_url }}
FREEBOARD_USER={{ kiosk_service_user }}
FREEBOARD_DISPLAY={{ kiosk_display_value }}
FREEBOARD_BROWSER_BINARY={{ kiosk_browser_binary }}
FREEBOARD_BROWSER_FLAGS_EXTRA={{ kiosk_browser_flags_extra }}
FREEBOARD_URL_CHECK_MODE={{ kiosk_url_check_mode }}
FREEBOARD_URL_CHECK_TIMEOUT_SECONDS={{ kiosk_url_check_timeout_seconds }}
FREEBOARD_URL_CHECK_INTERVAL_SECONDS={{ kiosk_url_check_interval_seconds }}
FREEBOARD_URL_CHECK_MAX_ATTEMPTS={{ kiosk_url_check_max_attempts }}
FREEBOARD_DEFAULT_WIDTH={{ kiosk_player_window_width }}
FREEBOARD_DEFAULT_HEIGHT={{ kiosk_player_window_height }}
FREEBOARD_LOG_DIR={{ kiosk_log_dir }}
